html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 1110px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER NAVIGATION */

.header {
    margin-top: 36px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.logotype {
    float: left;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
    text-transform: uppercase;
}

.logotype::first-letter {
    font-weight: bold;
    color: #1abc9c;
}

.navigation__list {
    float: right;
    margin-top: 8px;
}

.navigation__list-item {
    float: left;
}

.navigation__list-item:not(:last-child) {
    margin-right: 32px;
}

.navigation__list-link {
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 11px;
    color: #0f0101;
    text-transform: uppercase;
}

.navigation__list-link:hover,
.navigation__list-link:focus {
    color: #1abc9c;
}

/* SECTION PRODUCT */

.product__title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 50px;
    color: #515151;
    text-align: center;
    margin-top: 106px;
}

.product__title::after {
    content: "";
    display: block;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 92px;
}

.product-card__list-item {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.product-card__list-item:nth-child(4n) {
    margin-right: 0;
}

.product-card__list-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
}

.product-card__list-item-image {
    display: block;
    background-color: #e9f0fd;
}

.product-card__wrapper-block {
    /* height: 40px; */
    background-color: #323232;
    text-transform: uppercase;
}

.product-card__list-item:hover .product-card__wrapper-block {
    background-color: #1abc9c;
}

.product-card__list-item:focus .product-card__wrapper-block {
    background-color: #1abc9c;
}

.product-card__list-item-title {
    float: left;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    height: 40px;
    width: 201px;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
}

.product-card__list-item-text {
    float: right;
    display: block;
    margin: 0;
}

.product-card__item-link {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding-left: 14px;
    height: 40px;
    width: 187px;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.product-card__list-item-price {
    float: right;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    width: 54px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.44);
}

/* SECTION NEWS */

.news__title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 50px;
    color: #515151;
    text-align: center;
    margin-top: 106px;
}

.news__title::after {
    content: "";
    display: block;
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 82px;
}

.wrapper__block__news {
    float: left;
    width: 350px;
    margin-bottom: 46px;
}

.wrapper__block__news:not(:last-child) {
    margin-right: 30px;
}

.wrapper__block-subtitle {
    font-family: "Open Sans", sans-serif;
    color: #555252;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.wrapper__block-subtitle::after {
    content: "";
    display: block;
    background-color: #1abc9c;
    width: 136px;
    height: 3px;
    margin-top: 14px;
    margin-bottom: 32px;
}

.wrapper__descriptions-text {
    font-family: "Open Sans", sans-serif;
    color: #555252;
    font-weight: lighter;
    font-size: 14px;
    line-height: 26px;
}

.wrapper__text-link {
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    padding: 17px 46px;
    border-radius: 3px;
    background-color: #4ec6ab;
    margin: 0;
}

.text__link {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.625;
    text-align: center;
}

.wrapper__text-link:hover {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.30));
}